test/testFlow.json
[
    {
        "id": "91608fc9.365ee",
        "type": "tab",
        "label": "GPU Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e94a3f78.9448a",
        "type": "tab",
        "label": "stress test",
        "disabled": false,
        "info": "[\n    [\n        1,\n        1,\n        1,\n        1\n    ],\n    [\n        2,\n        2,\n        2,\n        2\n    ],\n    [\n        1,\n        2,\n        3,\n        4\n    ],\n    [\n        4,\n        3,\n        2,\n        1\n    ]\n]"
    },
    {
        "id": "ade51ef9.4c4e1",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "arrayAdd",
        "blocksProperty": "1",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": true,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "91330711.489768",
                "9ece3298.30cfc"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "9ece3298.30cfc",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test add array",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":2,\"1\":4,\"2\":6,\"3\":8},{\"0\":10,\"1\":12,\"2\":14,\"3\":16},{\"0\":18,\"1\":20,\"2\":22,\"3\":24},{\"0\":26,\"1\":28,\"2\":30,\"3\":32}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 181,
        "y": 44,
        "wires": [
            [
                "ade51ef9.4c4e1"
            ],
            [],
            [
                "b9ee110f.4f5a1"
            ]
        ]
    },
    {
        "id": "661e0892.a941d8",
        "type": "debug",
        "z": "91608fc9.365ee",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "91330711.489768",
        "type": "debug",
        "z": "91608fc9.365ee",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 900,
        "wires": []
    },
    {
        "id": "da96c2eb.f2975",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixMultiple",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": true,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "91330711.489768",
                "b9ee110f.4f5a1"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "b9ee110f.4f5a1",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test matrix multiple",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":90,\"1\":100,\"2\":110,\"3\":120},{\"0\":202,\"1\":228,\"2\":254,\"3\":280},{\"0\":314,\"1\":356,\"2\":398,\"3\":440},{\"0\":426,\"1\":484,\"2\":542,\"3\":600}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "da96c2eb.f2975"
            ],
            [],
            [
                "ac1a20b2.07719"
            ]
        ]
    },
    {
        "id": "ac1a20b2.07719",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test norms",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344},{\"0\":6.5,\"1\":1.1180340051651,\"2\":641.8410034179688},{\"0\":10.5,\"1\":1.1180340051651,\"2\":2569.510498046875},{\"0\":14.5,\"1\":1.1180340051651,\"2\":6660.978515625}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "159da3e0.3da58c"
            ],
            [],
            [
                "308f8525.01314a"
            ]
        ]
    },
    {
        "id": "159da3e0.3da58c",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixNormsRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "ac1a20b2.07719",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "5531e44b.fb92dc",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "stats down/rows",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":13,\"2\":7,\"3\":4.4721360206604},{\"0\":2,\"1\":14,\"2\":8,\"3\":4.4721360206604},{\"0\":3,\"1\":15,\"2\":9,\"3\":4.4721360206604},{\"0\":4,\"1\":16,\"2\":10,\"3\":4.4721360206604}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "de900c0f.c56ec"
            ],
            [],
            [
                "aa34964c.dfe6e8"
            ]
        ]
    },
    {
        "id": "de900c0f.c56ec",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixStatsColumns",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "5531e44b.fb92dc",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "278d6d39.50a0c2",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "loadColumns",
        "blocksProperty": "2",
        "columnsProperty": "[1,3]",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 430,
        "y": 600,
        "wires": [
            [
                "91330711.489768",
                "aa34964c.dfe6e8"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "aa34964c.dfe6e8",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "load",
        "escapeString": false,
        "payload": "[[1,2,3,4],[11,12,13,14],[21,22,23,24],[31,32,33,34]]",
        "payloadType": "json",
        "result": "[[{\"0\":2,\"1\":4},{\"0\":12,\"1\":14}],[{\"0\":22,\"1\":24},{\"0\":32,\"1\":34}]]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "278d6d39.50a0c2"
            ],
            [],
            [
                "4be45374.4f85ec"
            ]
        ]
    },
    {
        "id": "8b37b1c9.e0f63",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixNormsRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "91330711.489768",
                "308f8525.01314a"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "308f8525.01314a",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix norms row",
        "errorFactor": "",
        "escapeString": false,
        "infiniteIsNull": true,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":0,\"2\":\"Infinity\"},{\"0\":2,\"1\":0,\"2\":\"Infinity\"},{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344},{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8b37b1c9.e0f63"
            ],
            [],
            [
                "5531e44b.fb92dc"
            ]
        ]
    },
    {
        "id": "6d971f18.063c1",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix covariancerow",
        "errorFactor": "0.001",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":0,\"1\":0,\"2\":0,\"3\":0},{\"0\":0,\"1\":0,\"2\":0,\"3\":0},{\"0\":0,\"1\":0,\"2\":1.25,\"3\":-1.25},{\"0\":0,\"1\":0,\"2\":-1.25,\"3\":1.25}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "6dc6c832.3083b8"
            ],
            [],
            [
                "4f7276df.6c1cd8"
            ]
        ]
    },
    {
        "id": "6dc6c832.3083b8",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCovarianceRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 450,
        "y": 800,
        "wires": [
            [
                "6d971f18.063c1",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "4f7276df.6c1cd8",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix correlation row",
        "errorFactor": "",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,1,1,2],[2,2,2,3],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":\"NaN\",\"3\":\"NaN\",\"4\":\"NaN\",\"5\":\"NaN\"},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":\"NaN\",\"3\":\"NaN\",\"4\":\"NaN\",\"5\":\"NaN\"},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":1,\"3\":1,\"4\":0.7750000357627869,\"5\":-0.7750000357627869},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":1,\"3\":1,\"4\":0.7750000357627869,\"5\":-0.7750000357627869},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":0.7750000357627869,\"3\":0.7750000357627869,\"4\":1,\"5\":-1},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":-0.7750000357627869,\"3\":-0.7750000357627869,\"4\":-1,\"5\":1}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "d171a4af.0edb68"
            ],
            [],
            [
                "44623d85.601cd4"
            ]
        ]
    },
    {
        "id": "d171a4af.0edb68",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCorrelationRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 440,
        "y": 900,
        "wires": [
            [
                "4f7276df.6c1cd8",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "4be45374.4f85ec",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix avg row",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "{\"0\":1,\"1\":2,\"2\":2.5,\"3\":2.5}",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 180,
        "y": 600,
        "wires": [
            [
                "a009741c.c3c868"
            ],
            [],
            [
                "6d971f18.063c1"
            ]
        ]
    },
    {
        "id": "a009741c.c3c868",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixAvgRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 420,
        "y": 700,
        "wires": [
            [
                "4be45374.4f85ec",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "44623d85.601cd4",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "",
        "errorFactor": "",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,2,4,5,8],[5,20,40,80,100]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":0.968000054359436},{\"0\":0.968000054359436,\"1\":1}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "89a18ba6.3fed28"
            ],
            [],
            []
        ]
    },
    {
        "id": "89a18ba6.3fed28",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCorrelationRows",
        "blocksProperty": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": "",
        "dimensionY": "",
        "dimensionZ": "",
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 440,
        "y": 1020,
        "wires": [
            [
                "44623d85.601cd4",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "b9fd6ce3.fdd1a",
        "type": "Load Injector",
        "z": "e94a3f78.9448a",
        "name": "",
        "thinktimemin": "10",
        "thinktimemax": "100",
        "runtime": "10",
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "5caf4aad.e7dd74"
            ]
        ]
    },
    {
        "id": "5caf4aad.e7dd74",
        "type": "gpunode",
        "z": "e94a3f78.9448a",
        "name": "",
        "action": "matrixStatsRows",
        "blocksProperty": "1",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": 100,
        "dimensionY": 0,
        "dimensionZ": 0,
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 330,
        "y": 260,
        "wires": [
            [
                "f4854e98.0604"
            ],
            [],
            []
        ]
    },
    {
        "id": "f4854e98.0604",
        "type": "Monitor Flow",
        "z": "e94a3f78.9448a",
        "name": "",
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d24a8d0.c62647",
        "type": "gpunode",
        "z": "e94a3f78.9448a",
        "name": "",
        "action": "freeform",
        "blocksProperty": "1",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": 100,
        "dimensionY": 0,
        "dimensionZ": 0,
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "statements": {
            "X": "return value[x]-xSize;",
            "XY": "return [y,x];",
            "XYZ": "return [xSize-x,ySize-y,zSize-z];"
        },
        "targetProperty": "msg.payload",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "5c386188.c16e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "5c386188.c16e1",
        "type": "debug",
        "z": "e94a3f78.9448a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "ec65e069.d7d2d",
        "type": "inject",
        "z": "e94a3f78.9448a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4]",
        "payloadType": "json",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "d24a8d0.c62647"
            ]
        ]
    },
    {
        "id": "95d0b0d.f125e5",
        "type": "inject",
        "z": "e94a3f78.9448a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[1,2],[3,4]]",
        "payloadType": "json",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "d24a8d0.c62647"
            ]
        ]
    },
    {
        "id": "35f753f2.996a9c",
        "type": "inject",
        "z": "e94a3f78.9448a",
        "name": "3d",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[[[1,2,3],[4,5,6]],[[11,12,13],[14,15,16]]]",
        "payloadType": "json",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "d24a8d0.c62647"
            ]
        ]
    },
    {
        "id": "fb9e3cff.4db36",
        "type": "gpunode",
        "z": "e94a3f78.9448a",
        "name": "",
        "action": "freeform",
        "blocksProperty": "1",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "dimensionX": 100,
        "dimensionY": 0,
        "dimensionZ": 0,
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "statements": {
            "X": "return value[x]*10;",
            "XY": "return value[y][x]*10;",
            "XYZ": "return value[z][y][x]*10;"
        },
        "targetProperty": "msg.payload",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "f4854e98.0604"
            ],
            [],
            []
        ]
    },
    {
        "id": "70c9b3b4.ed382c",
        "type": "Load Injector",
        "z": "e94a3f78.9448a",
        "name": "",
        "thinktimemin": "10",
        "thinktimemax": "20",
        "runtime": "10",
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "fb9e3cff.4db36"
            ]
        ]
    }
]