test/testFlow.json
[
    {
        "id": "91608fc9.365ee",
        "type": "tab",
        "label": "GPU Tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ade51ef9.4c4e1",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "arrayAdd",
        "blocks": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": true,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 401,
        "y": 124,
        "wires": [
            [
                "91330711.489768",
                "9ece3298.30cfc"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "9ece3298.30cfc",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test add array",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":2,\"1\":4,\"2\":6,\"3\":8},{\"0\":10,\"1\":12,\"2\":14,\"3\":16},{\"0\":18,\"1\":20,\"2\":22,\"3\":24},{\"0\":26,\"1\":28,\"2\":30,\"3\":32}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 181,
        "y": 44,
        "wires": [
            [
                "ade51ef9.4c4e1"
            ],
            [],
            []
        ]
    },
    {
        "id": "661e0892.a941d8",
        "type": "debug",
        "z": "91608fc9.365ee",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1220,
        "wires": []
    },
    {
        "id": "91330711.489768",
        "type": "debug",
        "z": "91608fc9.365ee",
        "name": "ok",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1180,
        "wires": []
    },
    {
        "id": "da96c2eb.f2975",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixMultiple",
        "blocks": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": true,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 421,
        "y": 244,
        "wires": [
            [
                "91330711.489768",
                "b9ee110f.4f5a1"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "b9ee110f.4f5a1",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test matrix multiple",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":90,\"1\":100,\"2\":110,\"3\":120},{\"0\":202,\"1\":228,\"2\":254,\"3\":280},{\"0\":314,\"1\":356,\"2\":398,\"3\":440},{\"0\":426,\"1\":484,\"2\":542,\"3\":600}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 171,
        "y": 164,
        "wires": [
            [
                "da96c2eb.f2975"
            ],
            [],
            []
        ]
    },
    {
        "id": "ac1a20b2.07719",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test norms",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344},{\"0\":6.5,\"1\":1.1180340051651,\"2\":641.8410034179688},{\"0\":10.5,\"1\":1.1180340051651,\"2\":2569.510498046875},{\"0\":14.5,\"1\":1.1180340051651,\"2\":6660.978515625}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 131,
        "y": 304,
        "wires": [
            [
                "159da3e0.3da58c"
            ],
            [],
            []
        ]
    },
    {
        "id": "159da3e0.3da58c",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixNormsAcross",
        "blocks": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 431,
        "y": 384,
        "wires": [
            [
                "ac1a20b2.07719",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "5531e44b.fb92dc",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test add array",
        "escapeString": false,
        "payload": "[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":13,\"2\":7,\"3\":4.4721360206604},{\"0\":1,\"1\":14,\"2\":8,\"3\":4.4721360206604},{\"0\":1,\"1\":15,\"2\":9,\"3\":4.4721360206604},{\"0\":1,\"1\":16,\"2\":10,\"3\":4.4721360206604}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 141,
        "y": 464,
        "wires": [
            [
                "de900c0f.c56ec"
            ],
            [],
            []
        ]
    },
    {
        "id": "de900c0f.c56ec",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixStatsDown",
        "blocks": "",
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 431,
        "y": 544,
        "wires": [
            [
                "5531e44b.fb92dc",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "278d6d39.50a0c2",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "loadDown",
        "blocks": "2",
        "columnsProperty": "[1,3]",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 401,
        "y": 664,
        "wires": [
            [
                "91330711.489768",
                "aa34964c.dfe6e8"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "aa34964c.dfe6e8",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "test add array",
        "escapeString": false,
        "payload": "[[1,2,3,4],[11,12,13,14],[21,22,23,24],[31,32,33,34]]",
        "payloadType": "json",
        "result": "[[{\"0\":2,\"1\":4},{\"0\":12,\"1\":14}],[{\"0\":22,\"1\":24},{\"0\":32,\"1\":34}]]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 141,
        "y": 584,
        "wires": [
            [
                "278d6d39.50a0c2"
            ],
            [],
            []
        ]
    },
    {
        "id": "8b37b1c9.e0f63",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixNormsAcross",
        "blocks": 1,
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 411,
        "y": 784,
        "wires": [
            [
                "91330711.489768",
                "308f8525.01314a"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "308f8525.01314a",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix norms row",
        "escapeString": false,
        "infiniteIsNull": true,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":0,\"2\":\"Infinity\"},{\"0\":2,\"1\":0,\"2\":\"Infinity\"},{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344},{\"0\":2.5,\"1\":1.1180340051651,\"2\":53.66563415527344}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 131,
        "y": 704,
        "wires": [
            [
                "8b37b1c9.e0f63"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d971f18.063c1",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix correlation row",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":0,\"1\":0,\"2\":0,\"3\":0},{\"0\":0,\"1\":0,\"2\":0,\"3\":0},{\"0\":0,\"1\":0,\"2\":1.25,\"3\":-1.25},{\"0\":0,\"1\":0,\"2\":-1.25,\"3\":1.25}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "6dc6c832.3083b8"
            ],
            [],
            []
        ]
    },
    {
        "id": "6dc6c832.3083b8",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCovarianceAcross",
        "blocks": 1,
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 450,
        "y": 1080,
        "wires": [
            [
                "6d971f18.063c1",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "4f7276df.6c1cd8",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix correlation row",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,1,1,2],[2,2,2,3],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "[{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":\"NaN\",\"3\":\"NaN\",\"4\":\"NaN\",\"5\":\"NaN\"},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":\"NaN\",\"3\":\"NaN\",\"4\":\"NaN\",\"5\":\"NaN\"},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":0.9999999403953552,\"3\":0.9999999403953552,\"4\":0.7745966911315918,\"5\":-0.7745966911315918},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":0.9999999403953552,\"3\":0.9999999403953552,\"4\":0.7745966911315918,\"5\":-0.7745966911315918},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":0.7745966911315918,\"3\":0.7745966911315918,\"4\":1,\"5\":-1},{\"0\":\"NaN\",\"1\":\"NaN\",\"2\":-0.7745966911315918,\"3\":-0.7745966911315918,\"4\":-1,\"5\":1}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "d171a4af.0edb68"
            ],
            [],
            []
        ]
    },
    {
        "id": "d171a4af.0edb68",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCorrelationAcross",
        "blocks": 1,
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 430,
        "y": 1220,
        "wires": [
            [
                "4f7276df.6c1cd8",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "4be45374.4f85ec",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "matrix avg row",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,1,1,1],[2,2,2,2],[1,2,3,4],[4,3,2,1]]",
        "payloadType": "json",
        "result": "{\"0\":1,\"1\":2,\"2\":2.5,\"3\":2.5}",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "a009741c.c3c868"
            ],
            [],
            []
        ]
    },
    {
        "id": "a009741c.c3c868",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixAvgAcross",
        "blocks": 1,
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": false,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "4be45374.4f85ec",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    },
    {
        "id": "44623d85.601cd4",
        "type": "test",
        "z": "91608fc9.365ee",
        "name": "",
        "escapeString": false,
        "infiniteIsNull": false,
        "payload": "[[1,2,4,5,8],[5,20,40,80,100]]",
        "payloadType": "json",
        "result": "[{\"0\":1,\"1\":0.9684134721755981},{\"0\":0.9684134721755981,\"1\":0.9999998807907104}]",
        "resultType": "json",
        "resultProperty": "msg.payload",
        "topic": "",
        "x": 160,
        "y": 1300,
        "wires": [
            [
                "89a18ba6.3fed28"
            ],
            [],
            []
        ]
    },
    {
        "id": "89a18ba6.3fed28",
        "type": "gpunode",
        "z": "91608fc9.365ee",
        "name": "",
        "action": "matrixCorrelationAcross",
        "blocks": 1,
        "columnsProperty": "",
        "columnsPropertyValid": true,
        "hasSecondArgument": false,
        "hasColumns": true,
        "pipeline": false,
        "source1Property": "msg.payload",
        "source2Property": "msg.payload",
        "targetProperty": "msg.payload",
        "x": 450,
        "y": 1300,
        "wires": [
            [
                "44623d85.601cd4",
                "91330711.489768"
            ],
            [
                "661e0892.a941d8"
            ],
            []
        ]
    }
]